.header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
}

.commentsContainer {
}

.commentContainer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.commentHeader {
  font-size: 13px;
}

.authorNameStyle {
  font-weight: 700;

  a, a:focus, a:hover {
    text-decoration: none;
  }
}

.spacer {
  color: gray !important;
  font-weight: normal;
  text-shadow: none !important;
  padding: 0 0.3em;
}

.timeFrom {
  color: gray !important;
  font-weight: normal;
  text-shadow: none !important;
}

.commentContentStyle {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  margin: 0.3em 0;
}

.postCommentForm {
  textarea, input {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    margin: 0.4em 0;
    outline: 0;

    &:focus {
      border-color: black;
    }
  }
  textarea {
    resize: none;
    min-height: 5em;
  }
}

.postCommentFormHeader {
  margin: 1em 0;
  font-size: 13px;
}

.markdownNote {
  a {
    font-size: 10px;
    color: gray;
    text-decoration: none;
    float: right;
  }
}

.preview {
  border: 1px solid lightgray;
  padding: 0 1em;
  background: #f8f8f8;
  margin-bottom: 1em;

  .commentContentStyle {
    border-bottom: none;
    padding-bottom: 0;
  }
}
