.header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
}

.commentsContainer {
}

.commentContainer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.commentHeader {
  font-size: 13px;
}

.authorNameStyle {
  font-weight: 700;
}

.authorNameStyle, .authorLinkStyle {
  display: inline-block;
  max-width: 33%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a, a:focus, a:hover {
    text-decoration: none;
  }
}

.spacer {
  color: gray !important;
  font-weight: normal;
  text-shadow: none !important;
  padding: 0 0.3em;
  vertical-align: top;
}

.timeFrom {
  color: gray !important;
  font-weight: normal;
  text-shadow: none !important;
  vertical-align: top;

  span {
    vertical-align: top;
  }
}

.commentContentStyle {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  margin: 0.3em 0;
}

.postCommentForm {
  textarea, input {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    margin-top: 0.4em;
    outline: 0;
    padding: 3px;

    &:focus {
      border-color: black;
    }
  }
  textarea {
    resize: none;
    min-height: 5em;
  }
}

.errorMessage {
  color: red;
}

.hasError {
  border-color: red !important;
}

.postCommentFormHeader {
  margin: 1em 0;
  font-size: 13px;
}

.markdownNote {
  a {
    font-size: 10px;
    color: gray;
    text-decoration: none;
    float: right;
  }
}

.previewWrapper {
  overflow-x: hidden;
}

.preview {
  border: 1px solid lightgray;
  padding: 0 1em;
  background: #f8f8f8;
  margin-bottom: 1em;

  .commentContentStyle {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.btn {
  // Styling "borrowed" from bootstrap
  margin: 0;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  font-family: inherit;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  touch-action: manipulation;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  // btn-default
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:disabled {
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
  }
}

.spinnerButton {
  composes: btn;
  margin-top: 1em;

  .buttonContent {
    display: flex;
    align-items: center;

    .buttonText {
      height: 32px;
      padding: 0 10px;
      display: flex;
      align-items: center;
    }

    .spinnerWrapper {
      width: 32px;
      height: 32px;
      overflow: hidden;
      display: flex;
    }
  }
}
